.contact-btn {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:#2D6FBF;
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-btn a {
    text-decoration: none;
    color: #fff;
}

.contact-btn:hover {
    color: black;
    background: #76F014;
    outline: 1.5px solid black;
}

.modal {
    background-color: #fff;
}