.about-container {
    background-color: black;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: ;
}

h1 {
    color: #ffff;
    font-size: medium;

}

p {
    color: #ffff;
}