.about-container {  
    padding: 60px 30px;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text-content {
    flex: 1;
    color: #fff;
    min-width: 300px;
}

.about-image {
    flex: 1;
    max-width: 500px;
    text-align: center;
    background-color: #ffffff09;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-text-content {
        order: 2;
    }

    .about-image {
        order: 1;
        width: 80%;
        margin-bottom: 20px;
    }
}