.hero-container {
    height: auto; 
    min-height: 100vh;
    width: 100%;
    position: relative; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.description {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    color: #fff;
    padding: 20px;
    text-align: center;
    max-width: 900px; /* Reduzindo a largura máxima do bloco */
    margin: 0 auto;
    background-color: #0000004d;
    border-radius: 10px;
}

.description h1 {
    font-size: 3.5rem; /* Ajuste para um tamanho grande, mas controlado */
    line-height: 1.2;
    margin-bottom: 15px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.description p {
    font-size: 1.25rem; /* Ajuste para um tamanho mais moderado */
    line-height: 1.6;
    max-width: 600px; /* Reduzindo a largura máxima do parágrafo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Media Queries para manter a responsividade em telas menores */
@media (max-width: 992px) {
    .description h1 {
        font-size: 3rem;
    }
    .description p {
        font-size: 1.15rem;
    }
}

@media (max-width: 768px) {
    .hero-container {
        min-height: 80vh;
    }
    .description h1 {
        font-size: 2.5rem; /* Tamanho bom para tablets e celulares grandes */
        margin-bottom: 10px;
    }
    .description p {
        font-size: 1rem;
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .description h1 {
        font-size: 2rem; /* Tamanho para celulares pequenos */
    }
    .description p {
        font-size: 0.95rem;
    }
}