.container-imagem {
    height: 100vh;
    overflow: hidden; /* Garante que nada transborde */
}

.img-full-cover {
    /* 1. Faz a imagem preencher a largura e altura do contêiner */
    width: 100%;
    height: 100%;
    
    /* 2. Controla como a imagem preenche o espaço sem distorcer (cortando as bordas se necessário) */
    object-fit: cover;
}